<div class="auth-wrapper" style="background : linear-gradient(45deg, #E13E01, #EB7E55)">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img style="width: 50%; height: 50%" src="assets/images/12.jpg" alt="" class="img-fluid mb-4">
            <h4 class="mb-3 f-w-400">Signin</h4>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-mail"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="Email address">
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-lock"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Password">
            </div>

            <div class="form-group text-left mt-2">
<!--              <div class="checkbox checkbox-primary d-inline">-->
<!--                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">-->
<!--                <label for="checkbox-fill-a1" class="cr"> Save credentials</label>-->
<!--              </div>-->
            </div>
            <button class="btn btn-block btn-primary mb-4" style="background-color: #E13E01; border: #EB7E55; height: 50px" (click)="onclick()">Signin</button>
<!--            <p class="mb-2 text-muted">Forgot password? <a [routerLink]="['/auth/reset-password']" class="f-w-400">Reset</a></p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
